@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


.app-container {
    width: 100%;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FFD600;
    border-radius: 5px;
}

::selection {
    background-color: black;
    color: white;
}
